#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_clean:
	rm -rf $(CURDIR)/debian/whitesur-gtk-theme
	dh_clean

override_dh_auto_build:
	dh_auto_build
	mkdir $(CURDIR)/debian/whitesur-gtk-theme
	./install.sh --silent-mode -d '$(CURDIR)/debian/whitesur-gtk-theme/usr/share/themes'

override_dh_prep:
	echo "override dh_prep"
